@font-face {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(fonts/DelaGothicOne-400.woff2) format('woff2');
}
@font-face {
  font-family: 'Potta One';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(fonts/PottaOne-400.woff2) format('woff2');
}
@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(fonts/ComicNeue-700.woff2) format('woff2');
}
@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(fonts/ComicNeue-400.woff2) format('woff2');
}
