@font-face { font-family: 'UnifrakturCook'; font-style: normal; font-weight: 700; font-display: block; src: url(fonts/UnifrakturCook-700-latin.woff2) format('woff2'); }
@font-face { font-family: 'Grenze Gotisch'; font-style: normal; font-weight: 100 900; font-display: block; src: url(fonts/GrenzeGotisch-var-latin.woff2) format('woff2'); }
