/* Fredoka by Milena Brandao (SIL Open Font License 1.1), from Google Fonts */
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url(fonts/Fredoka-600-latin.woff2) format('woff2');
}
