/* Outfit by Rodrigo Fuenzalida (SIL Open Font License 1.1), from Google Fonts; variable weight 100-900 */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(fonts/Outfit-var-latin.woff2) format('woff2');
}
