/* Yuji Syuku (SIL Open Font License 1.1, from Google Fonts), Latin letters, digits and basic punctuation subset */
@font-face { font-family: 'Yuji Syuku'; font-style: normal; font-weight: 400; font-display: block; src: url(fonts/YujiSyuku-latin.woff2) format('woff2'); }
