/* Fraunces by Undercase Type (SIL Open Font License 1.1), latin subset from Google Fonts */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 300 700;
  font-display: block;
  src: url(fonts/Fraunces-normal-latin.woff2) format('woff2');
}
