/* Montserrat (variable, weights 100-400) by Julieta Ulanovsky et al., SIL Open Font License 1.1, from Google Fonts */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100 400;
  font-display: block;
  src: url(fonts/Montserrat-var-latin.woff2) format('woff2');
}
