@font-face { font-family: 'DM Serif Display'; font-style: italic; font-weight: 400; font-display: block; src: url(fonts/DMSerifDisplay-400italic-latin.woff2) format('woff2'); }
@font-face { font-family: 'Old Standard TT'; font-style: italic; font-weight: 400; font-display: block; src: url(fonts/OldStandardTT-400i-latin.woff2) format('woff2'); }
