@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(fonts/ArchivoBlack-400-latin.woff2) format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100 800;
  font-display: block;
  src: url(fonts/JetBrainsMono-var-latin.woff2) format('woff2');
}
