@font-face { font-family: 'Bungee'; font-style: normal; font-weight: 400; font-display: block; src: url(fonts/Bungee-400-latin.woff2) format('woff2'); }
@font-face { font-family: 'Josefin Sans'; font-style: normal; font-weight: 600; font-display: block; src: url(fonts/JosefinSans-600-latin.woff2) format('woff2'); }
