@font-face { font-family: 'Amiri'; font-style: normal; font-weight: 400; font-display: block; src: url(fonts/Amiri-400-normal-latin.woff2) format('woff2'); }
@font-face { font-family: 'Amiri'; font-style: normal; font-weight: 700; font-display: block; src: url(fonts/Amiri-700-normal-latin.woff2) format('woff2'); }
@font-face { font-family: 'Amiri'; font-style: italic; font-weight: 400; font-display: block; src: url(fonts/Amiri-400-italic-latin.woff2) format('woff2'); }
