/* Rubik (SIL Open Font License 1.1), variable weight, latin subset */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300 900;
  font-display: block;
  src: url(fonts/Rubik-latin-var.woff2) format('woff2');
}
