/* Homemade Apple by Font Diner (Apache License 2.0), from Google Fonts */
@font-face {
  font-family: 'Homemade Apple';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(fonts/HomemadeApple-400-latin.woff2) format('woff2');
}
