@font-face { font-family: 'Comic Neue'; font-style: normal; font-weight: 400; font-display: block; src: url(fonts/ComicNeue-400-latin.woff2) format('woff2'); }
@font-face { font-family: 'Comic Neue'; font-style: normal; font-weight: 700; font-display: block; src: url(fonts/ComicNeue-700-latin.woff2) format('woff2'); }
