/* Fredoka (variable, latin subset), SIL Open Font License 1.1 — https://fonts.google.com/specimen/Fredoka */
@font-face { font-family: 'Fredoka'; font-style: normal; font-weight: 300 700; font-display: block; src: url(fonts/Fredoka-latin.woff2) format('woff2'); }
